.user-form-card a,
.user-form-card .text-link {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #6f8f50;
}

.resend-password-btn {
	background-color: transparent;
	border: 0;
}

.user-form-card {
	background-color: #fff;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08);
	border-radius: 8px;
	padding: 35px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	margin-bottom: 12px;
}

.user-form-card label {
	font-size: 16px;
	font-weight: 600;
}

.user-form-remind p {
	font-size: 16px;
	font-weight: 600;
}

.info-media .img-wrapper {
	position: relative;
	display: inline-block;
}

.info-media {
	text-align: center;
}

.info-media .img-wrapper input {
	display: none;
}

.info-media .img-wrapper .img-main {
	width: 162px;
	height: 162px;
	border-radius: 50%;
	background-color: #fff;
	border: 6px solid #2dcd7c;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.info-media .img-wrapper .img-main img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info-media .img-wrapper label {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: linear-gradient(90.56deg, #25D7FD 3.96%, #2ECC71 99.56%);
	border: 4px solid #ffffff;
	position: absolute;
	right: 0;
	text-align: center;
	color: #fff;
	line-height: 40px;
	font-size: 20px;
	bottom: 0;
	cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield !important;
}

.select2-container--default .select2-selection--multiple {
	border: 1px solid #e6e9fc !important;
	min-height: 50px !important;
	padding-right: 20px;
	padding-left: 10px;
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.select2-container--default .select2-selection--multiple ul {
	min-height: 50px;
}


@media only screen and (max-width:575px) {
	.user-form-card {
		padding: 30px;
	}

	.user-form-title h2 {
		font-size: 27px;
	}
}