{
    "openapi": "3.0.0",
    "info": {
        "title": "Ozvid Tech Api Documentation",
        "contact": {
            "name": "developer",
            "email": "shiv@ozvid.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "http://localhost/taxi-booking-laravel-1924/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.2.107/taxi-booking-laravel-1924/api",
            "description": "local server"
        },
        {
            "url": "http://192.168.13.130/taxi-booking-laravel-1924/api",
            "description": "local server"
        }
    ],
    "paths": {
        "/booking/driver-booking-list": {
            "post": {
                "tags": [
                    "Booking"
                ],
                "summary": "all bookings",
                "description": "all bookings",
                "operationId": "all bookings",
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/booking-detail": {
            "post": {
                "tags": [
                    "Booking"
                ],
                "summary": "booking detail",
                "description": "booking detail",
                "operationId": "booking detail",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/booking/customer-booking-list": {
            "post": {
                "tags": [
                    "Booking"
                ],
                "summary": "customer booking list",
                "description": "customer booking list",
                "operationId": "customer booking list",
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/register": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "user register",
                "description": "user register",
                "operationId": "userRegister",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "email",
                                    "password",
                                    "last_name",
                                    "role",
                                    "contact_no"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "test"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "test"
                                    },
                                    "role": {
                                        "type": "integer",
                                        "format": "role",
                                        "example": "1"
                                    },
                                    "contact_no": {
                                        "type": "string",
                                        "format": "contact no",
                                        "example": "9797979797"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password2"
                                    },
                                    "referral_code": {
                                        "type": "string",
                                        "format": "code"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User register successfully"
                                        },
                                        "user": {
                                            "type": "string",
                                            "example": "User details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "user login",
                "description": "user login",
                "operationId": "userLogin",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_token",
                                    "device_name",
                                    "device_type"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "email",
                                        "format": "email",
                                        "example": "sagar@toxsl.in"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin@123"
                                    },
                                    "device_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "DVtoken"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "DVname"
                                    },
                                    "device_type": {
                                        "type": "integer",
                                        "format": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "login successfully"
                                        },
                                        "user": {
                                            "type": "string",
                                            "example": "User details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuth": []
                    }
                ]
            }
        },
        "/user/rating-and-review": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "rating and review",
                "description": "rating and review",
                "operationId": "rating and review",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "rating",
                                    "driver_id"
                                ],
                                "properties": {
                                    "rating": {
                                        "type": "integer",
                                        "example": "3"
                                    },
                                    "driver_id": {
                                        "type": "integer",
                                        "example": "5"
                                    },
                                    "review": {
                                        "type": "string",
                                        "example": "good"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/rating-list": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "rating list",
                "description": "rating list",
                "operationId": "rating list",
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/add-emergency-contact": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "emergency contact",
                "description": "emergency contact",
                "operationId": "add-emergency-contact",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "contact_no"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "test"
                                    },
                                    "contact_no": {
                                        "type": "string",
                                        "format": "contact_no",
                                        "example": "test"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Contact added successfully"
                                        },
                                        "user": {
                                            "type": "string",
                                            "example": "Contact Details"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/page-detail": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "pages",
                "description": "pages",
                "operationId": "pages",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "type_id"
                                ],
                                "properties": {
                                    "type_id": {
                                        "type": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/update-driver-location": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "update location",
                "description": "update location",
                "operationId": "update location",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "latitude",
                                    "longitude"
                                ],
                                "properties": {
                                    "current_location": {
                                        "type": "string",
                                        "example": "USA"
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "abc"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "abc"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/profile-detail": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "profile detail",
                "description": "profile detail",
                "operationId": "profile detail",
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/ride-status": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "ride-status",
                "description": "ride-status",
                "operationId": "ride-status",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": "5"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/user/logout": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "logout",
                "description": "logout",
                "operationId": "logout",
                "responses": {
                    "400": {
                        "description": "Validator Error"
                    },
                    "401": {
                        "description": "Authentication Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Something went wrong"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "name": "Token based authentication",
                "in": "header",
                "scheme": "bearer"
            }
        }
    }
}