/node_modules
public/public/uploads/**
public/uploads/**
public/backup/Laravel/**
public/uploads/**
storage/app/**
storage/framework/testing/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
/vendor
/tests
.editorconfig
.env
.env.backup
.project
.settings
.styleci.yml
.buildpath
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
Modules/*.gitkeep
public/backup/*



/.metadata/
